:root {
  --background: white;

  --button-hover: lightgray;
  --button-click: gray;
  
  --selected: lightblue;

  --light-border: lightgray;
}

body * {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0px;
  font-size: 14px;
}

h4 {
  margin-block-start: 2px;
  margin-block-end: 2px;
}

#app {
  height: auto;
}